
@keyframes left-to-right {
  
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  overflow: hidden;
}

#page-1{ background-color: steelblue;}
#page-2{ background-color: tan;}
#page-3{ background-color: teal;}
#page-4{ background-color: slateblue;}

.page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}
.page h1{
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
}
.page p{
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: #f4f4f4;
  color: #333;
  text-decoration: none;
  border: none;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all 0.2s ease-in;
}
.btn:hover,
.btn-dark{
  background: #333;
  color: #fff;
}
.btn-dark:hover{
  background-color: #f4f4f4;
  color: #333;
}

#page-1 h1{
  transform: translateY(-1200px);
  animation: heading 2s forwards ease-in;
}

@keyframes heading {
  to {
    transform: translateY(0);
  }
}

#page-1 p{
  transform: translateX(-2000px);
  animation: paragraph 2s forwards ease-in 1.1s;
}

@keyframes paragraph {
  to{
    transform: translateX(0);
  }
}